<div class = "background_image2">
  <div class = "container">
    <div class = "columns is-centered">
      <div class = "column is-3">
        <div class ="body_top">
        <p class="is-size-4 mb-3">新規会員登録</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :名前 %><br />
            <font color="black"><%= f.text_field :name, :size=>"20", autofocus: true %></font>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <font color="black"><%= f.email_field :email, :size=>"35", autofocus: true, autocomplete: "email" %></font>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <strong>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            </strong><br />
            <font color="black"><%= f.password_field :password, :size=>"20", autocomplete: "new-password" %></font>
          </div>

          <div class="field">
            <%= f.label :パスワード（確認用） %><br />
            <font color="black"><%= f.password_field :password_confirmation, :size=>"20", autocomplete: "new-password" %></font>
          </div>

          <div class="actions">
            <font color="black"><%= f.submit "登録" %></font>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
