<div class="post_body">
  <section class="section mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
        <% if @favorite_list.present? %>
        <div class="is-size-3 mb-3"><font color="red"><b>店名か場所のキーワードで検索</b></font></div>
        <div class = "btn_row">
          <div class="post_search">
          <%= form_with(url: posts_path, local: true, method: :get ) do |form| %>
            <font color="black"><input type="search" name="keyword" placeholder="キーワードを入力", class="search_button"></font>
            <a href="#" class="btn-square-toy"><%= form.submit "検索", :name => nil %></a>
          <% end %>
          </div>
          <div class = "btn_location">
            <%= link_to "お気に入り一覧", favorites_path, class: 'btn btn-default' %>
          </div>
        </div>
        <% @favorite_list.each do |favorite| %>
          <div class="card mb-6">
            <div class="card-header">
              <div>店名: <%= favorite.post.name %></div>
              <div>場所: <%= favorite.post.location %></div>
              <div>投稿者: <%= favorite.post.user.name %></div>
              <div class='star-btn' id="favorite_<%= favorite.post.id %>">
                <% if favorite.post.user_id != current_user.id %>
                <div class = "favorite-star">
                  <%= render "favorites/favorite", post: favorite.post, favorite: favorite %>
                </div>
                <% end %>
              </div>
            </div>
            <div class="card-content">
              <div class = "post_row">
              <div class="content image_index">
                <%= attachment_image_tag favorite.post, :image, format:'jpg', fallback:"no_image2" %>
              </div>
              <div class="index_star_rating">
              <div class="content average-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= favorite.post.review_rate_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= favorite.post.avg_rate %>点（<%= favorite.post.reviews.count %>件のレビュー）
                </div>
              </div>
              </div>
              </div>
          </div>
            <div class="card-footer">
              <%= link_to post_path(favorite.post.id),class: "button card-footer-item" do %>詳細を閲覧<% end %>
              <%= link_to post_reviews_path(favorite.post.id),class: "button card-footer-item" do %>レビューを閲覧<% end %>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class = "no_post"><p class="is-size-2">お気に入りした投稿がありません。</p></div>
        <% end %>
        <%= paginate @favorite_list %>
        </div>
      </div>
    </div>
  </section>
</div>
