<div class="container">
  <div class="columns is-centered">
    <div class="column is-5">
      <p class="is-size-4 mb-3">プロフィール編集</p>
      <%= form_with model:@user, local:true do |f| %>
        <p><label for="inputName">名前</label><font color="black"><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %></font></p>
        <p><label for="inputEmail">メールアドレス</label><font color="black"><%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %></font></p>
        <p><label for="inputImage">プロフィール画像</label><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
        <a href="#" class="btn-square-little-rich"><font color="black"><%= f.submit "変更を保存" %></font></a>
      <% end %>
    </div>
  </div>
</div>