<div class = "contact_body">
  <section class="section mt-6">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="card mb-6">
            <div class="card-header">
                <div>お名前: <%= @contact.name %></div>
                <div>メールアドレス: <%= @contact.email %></div>
                <div>
                  <font color="red">※お名前とメールアドレスの変更をする場合</font>
                  <%= link_to "プロフィール編集", edit_user_path(current_user.id), class: 'btn btn-default' %>
                </div>
             </div>
             <div class="card-content">
                <div>お問合せ内容</div>
                <div class = "contact_message"><%= @contact.message %></div>
            </div>
            <div class = "card-footer">
               <div class = " button card-footer-item">
               <%= form_with model: @contact, url: back_path, local: true do |f| %>
                 <%= f.hidden_field :name %>
                 <%= f.hidden_field :email %>
                 <%= f.hidden_field :message %>
                 <%= f.submit '入力画面に戻る' %>
               <% end %>
               </div>
               <div class = " button card-footer-item">
                <%= form_with model: @contact, local: true do |f| %>
                  <%= f.hidden_field :name %>
                  <%= f.hidden_field :email %>
                  <%= f.hidden_field :message %>
                  <%= f.submit '送信' %>
                <% end %>
               </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</div>


