<div class="post_body">
  <section class="section mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
        <% if @posts.present? %>
        <div class = "btn_row">
          <div class="search">
          <%= form_with(url: search_posts_path, local: true, method: :get ) do |form| %>
            <font color="black"><input type="search" name="keyword" placeholder="キーワードから探す"></font>
            <a href="#" class="btn-square-toy"><%= form.submit "検索", :name => nil %></a>
          <% end %>
          </div>
          <div class = "btn_location">
            <%= link_to "お気に入り一覧", favorites_path, class: 'btn btn-default' %>
          </div>
        </div>

        <% @posts.each do |post| %>
          <div class="card mb-6">
            <div class="card-header">
              <div>店名: <%= post.name %></div>
              <div>場所: <%= post.location %></div>
              <div>投稿者: <%= post.user.name %></div>
              <div class='star-btn' id="favorite_<%= post.id %>">
                <% if post.user_id != current_user.id %>
                <div class = "favorite-star">
                  <%= render "favorites/favorite", post: post %>
                </div>
                <% end %>
              </div>
            </div>
            <div class="card-content">
              <div class = "post_row">
              <div class="content image_index">
                <%= attachment_image_tag post, :image, format:'jpg', fallback:"no_image2" %>
              </div>
              <div class="content average-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= post.review_rate_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= post.avg_rate %>点（<%= post.reviews.count %>件のレビュー）
                </div>
              </div>
              </div>
          </div>
            <div class="card-footer">
              <%= link_to post_path(post.id),class: "button card-footer-item" do %>詳細を閲覧<% end %>
              <%= link_to post_reviews_path(post),class: "button card-footer-item" do %>レビューを閲覧<% end %>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class = "no_post"><p class="is-size-1">投稿がありません。</p></div>
        <% end %>
        <%= paginate @posts %>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
class @CurrentLocations
  @getCurrentLocation: ->
    $('.currentLocation').on 'click', ->
      if navigator.geolocation
        navigator.geolocation.getCurrentPosition(successGetPosition, failGetPosition, options)
      else
        message = 'ご使用中のブラウザは現在地検索に対応されておりません。'
        Alert.set('warning', message)

  successGetPosition = (position) ->
    window.location.href = "/shops/searches?latitude=#{position.coords.latitude}&longitude=#{position.coords.longitude}"

  options =
    enableHighAccuracy: true

  failGetPosition = (error) ->
    switch error.code
      when 1
        message = '位置情報の提供を許可してください。'
      when 2
        message = '位置情報の取得に失敗しました。'
    Alert.set('warning', message)
</script>
