<%= form_with(url: search_posts_path, local: true, method: :get ) do |form| %>
  <input type="search" name="q" placeholder="現在地から探す">
  <%= form.submit "検索" %>
<% end %>

<h1>店舗一覧</h1>
<% @posts.each do |post| %>

  <%= link_to post_path(post.id) do %>
    <p>店名: <%= post.name %></p>
    <p>場所: <%= post.location %></p>
    <p><%= attachment_image_tag post, :image, :fill, 60, 60 %></p>
    <div class=“card-content”>
      <div class=“content”>
        <div class=“content average-score”>
          <div class=“star-rating mb-2”>
          <div class=“star-rating-front” style=“width: %”>★★★★★</div>
          <div class=“star-rating-back”>★★★★★</div>
          </div>
          <div class=“average-score-display ml-3 pt-2”>
          </div>
        </div>
      </div>
    </div>
    <%= link_to post_reviews_path(post),class: "button card-footer-item" do %>
    レビューを見る
    <% end %>
  <% end %>

<% end %>
<%= paginate @posts %>