<%= form_with(url: search_posts_path, local: true, method: :get ) do |form| %>
  <input type="search" name="q" placeholder="現在地から探す">
  <%= form.submit "検索" %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <p>店名: <%= post.name %></p>
    <p>場所: <%= post.location %></p>
    <p><%= attachment_image_tag post, :image, :fill, 60, 60 %></p>
    <p>　</p>
  <% end %>

<% end %>
<%= paginate @posts %>