<div class="post_body">
  <section class="section mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="card mb-6">
          <header class="card-header">
           <p class="is-size-4 mb-3">店名: <%= @post.name %><br>場所: <%= @post.location %></p>
           <div class="star">
            <div class='star-btn' id="favorite_<%= @post.id %>">
              <% if @post.user_id != current_user.id %>
               <div class = "favorite-star"><%= render "favorites/favorite", post: @post %></div>
              <% end %>
            </div>
          </div>
          </header>
          <div class="card-content">
          <script type="text/javascript">
            function initMap() {
          #latitude,longitudeから位置を特定
              var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: test
                        });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              var contentString = '住所：<%= @post.location %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

           #Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                            position:test,
                            map: map,
                            title: contentString
                           });

               marker.addListener('click', function() {
                 infowindow.open(map, marker);
               });
            }
          </script>

          #以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください
          <script async defer
                        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=YOUR_API_KEY&callback=initMap">
          </script>
          #表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。
          <style type="text/css">
            #map { height: 200px;
                   width: 70%;}
          </style>
          #mapの表示
          <div id="map"></div>



          <div class="content review">
            <%= link_to new_post_review_path(@post),class: "button card-footer-item" do %>レビューを書く<% end %>
            <%= link_to post_reviews_path(@post),class: "button card-footer-item" do %>レビューを見る<% end %>
          </div>
          <div class="content image">
            <%= attachment_image_tag @post, :image, format:'jpg', fallback:"no_image2" %>
          </div>
          <div class="content detail">
            営業時間: <%= @post.business_hours_start.strftime('%-H:%M') %>〜<%= @post.business_hours_end.strftime('%-H:%M') %>
            平均予算: <%= @post.charge_system %>円〜<%= @post.charge_system2 %>円
            wifi設備: <%= @post.wifi_equipment ? 'あり' : 'なし' %>
            電源: <%= @post.power ? 'あり' : 'なし' %>
          </div>
          <div class="content caption">店の雰囲気<br><%= @post.caption %></div>
          <div class="content create">
            投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %>
            更新日時: <%= @post.updated_at.strftime('%Y/%m/%d') %>
          </div>
          </div>
          <footer class="card-footer">
            <%= link_to edit_post_path(@post.id),class: "button card-footer-item" do %>編集<% end %>
            <%= link_to post_path(@post), method: :delete,class: "button card-footer-item" do %>削除<% end %>
          </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>