<h2>店名: <%= @post.name %>　場所: <%= @post.location %></h2>

<div class='star-btn' id="favorite_<%= @post.id %>">
  <%= render "favorites/favorite", post: @post %>
</div>
<%= link_to "レビューを書く", new_post_review_path(@post) %>
<%= link_to "レビューを見る", post_reviews_path(@post) %>
  

<%= attachment_image_tag @post, :image, :fill, 300, 300 %>
<h2>
  営業時間: <%= @post.business_hours_start.strftime('%-H:%M') %>〜<%= @post.business_hours_end.strftime('%-H:%M') %>
　平均予算: <%= @post.charge_system %>円〜<%= @post.charge_system2 %>円
　wifi設備: <%= @post.wifi_equipment ? 'あり' : 'なし' %>
　電源: <%= @post.power ? 'あり' : 'なし' %></h2>
<h2>説明: <%= @post.caption %></h2>

<h2>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %>　更新日時: <%= @post.updated_at.strftime('%Y/%m/%d') %></h2>
<h2>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</h2>