<h2>店名: <%= @post.name %>　場所: <%= @post.location %></h2>

<script type="text/javascript">
  function initMap() {
#latitude,longitudeから位置を特定
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.location %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 #Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

#以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=YOUR_API_KEY&callback=initMap">
</script>
#表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。
<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>

#mapの表示
<div id="map"></div>




<div class='star-btn' id="favorite_<%= @post.id %>">
  <%= render "favorites/favorite", post: @post %>
</div>
<%= link_to "レビューを書く", new_post_review_path(@post) %>
<%= link_to "レビューを見る", post_reviews_path(@post) %>
  

<%= attachment_image_tag @post, :image, :fill, 300, 300 %>
<h2>
  営業時間: <%= @post.business_hours_start.strftime('%-H:%M') %>〜<%= @post.business_hours_end.strftime('%-H:%M') %>
　平均予算: <%= @post.charge_system %>円〜<%= @post.charge_system2 %>円
　wifi設備: <%= @post.wifi_equipment ? 'あり' : 'なし' %>
　電源: <%= @post.power ? 'あり' : 'なし' %></h2>
<h2>説明: <%= @post.caption %></h2>

<h2>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %>　更新日時: <%= @post.updated_at.strftime('%Y/%m/%d') %></h2>
<h2>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</h2>