<div class="review_body">
  <div class="review_center">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">

        <p class="is-size-4 mb-3">レビュー</p>
        <% if @review.errors.any? %>
          <div class="notification is-danger">
            <p><%= @review.errors.count %>件のエラーがあります。</p>
            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
            </ul>
            </div>
          <% end %>
        <div class="rating-box mt-3">
          <%= form_with model: @review, url: post_reviews_path(@post), local: true do |f| %>
          <div class="main-rating">
            <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
          </div>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :rate, id: "rating-value" %>
          <%= f.text_area :comment, class: "textarea" %>
          <%= f.submit "保存", class: "button mt-3" %>
          <%= link_to "レビューを閲覧", post_reviews_path(@post), class: "button light ml-3 mt-3" %>
          <% end %>
        </div>

        <%= javascript_include_tag 'reviews.js' %>
        <% if @review.errors.any? %>
          <script>
            const stars = document.querySelector(".ratings").children;
            function(){
            for(let i=0; i< <%=@review.rate %>; i++){
            console.log(stars.length)


            for(let j=0; j< <%=@review.rate %>; j++){
            console.log(<%=@review.rate %>)
            stars[j].classList.remove("fa-star");
            stars[j].classList.add("fa-star-o");
            }

            for(let j=0; j<=i; j++){
            console.log(<%=@review.rate %>)
            stars[j].classList.remove("fa-star-o");
            stars[j].classList.add("fa-star");
            }
            })
            ratingvalue = document.getElementById('rating-value');
            const ratingValueDisplay = document.getElementById("rating-value-display");
            ratingvalue = <%= @review.rate %> + 1;
            ratingValueDisplay.innerHTML = "<%=@review.rate %>";
            document.getElementById("rating-value-display").textContent = "x";
            document.getElementById('rating-value-display').style.backgroundColor = 'skyblue';
            }
          </script>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>