<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
     <header class="header">
        <nav class="navbar navbar-expend-lg navbar-light" >
          <div class="container">

    <% if user_signed_in? %>
     <li>
        <%= link_to '投稿一覧', posts_path %>
     </li>
     <li>
        <%= link_to '投稿フォーム', new_post_path %>
     </li>
      <li>
        <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>

    <% if flash[:notice] %>
     <div class=“notification is-info”>
        <p class=“notice”><%= notice %></p>
     </div>
    <% end %>
    <% if flash[:alert] %>
       <div class=“notification is-danger”>
          <p class=“alert”><%= alert %></p>
       </div>
    <% end %>

    <p class=“navbar-item”>
     <% if user_signed_in? %>
      <p class=“navbar-item”>ようこそ<%= current_user.name %>さん</p>
    <% end %>


   </div>
        </nav>
      </header>


      <main>
    <%= yield %>
    </main>
    <footer class="footer text-black align-items-center d-flex justify-content-center">
        　<span>© All rights reserved by KaitekiWork</span>
          <div class="justify-content-center align-items-center social-items">
            <i class="fab fa-facebook-square fa-2x text-black"></i>
            <i class="fab fa-twitter-square fa-2x text-black"></i>
            <i class="fab fa-instagram fa-2x text-black"></i>
            <i class="fas fa-envelope fa-2x text-black"></i>
          </div>
      </footer>

  </body>
</html>
