<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/232bbef7fb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div>
     <header class="header">
        <div class="row" id="header_visual">
            
            <div class="col-md-6">
             <%= link_to root_path do %>
              <i class="fab fa-asymmetrik fa-4x"></i>
             <% end %>
             <% if user_signed_in? %>
               <li><b>ようこそ<%= current_user.name %>さん</b></li>
            <% end %>
            </div>
            <% if user_signed_in? %>
             <div class="col-md-6 text-right"id="header_visual2">
             <ul>
               <li><b><%= link_to '投稿一覧', posts_path %></b></li>
               <li><b><%= link_to '投稿フォーム', new_post_path %></b></li>
               <li><b><%= link_to 'マイページ', user_path(current_user.id) %></b></li>
               <li><b><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></b></li>
             </ul>
             </div>
            <% else %>
             <div class="col-md-6 text-right"id="header_visual2">
             <ul>
               <li><b><%= link_to "新規登録", new_user_registration_path %></b></li>
               <li><b><%= link_to "ログイン", new_user_session_path %></b></li>
             </ul>
             </div>
            <% end %>
        </div>
     </header>
    <main>
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </main>
    </div>
  </body>
  <footer class="footer text-black align-items-center d-flex justify-content-center">
    <div id="foooter_visual">
  　<span>© All rights reserved by KaitekiWork</span>
    <div class="justify-content-center align-items-center social-items">
      <i class="fab fa-facebook-square fa-2x text-black"></i>
      <i class="fab fa-twitter-square fa-2x text-black"></i>
      <i class="fab fa-instagram fa-2x text-black"></i>
      <i class="fas fa-envelope fa-2x text-black"></i>
    </div>
    </div>
  </footer>
</html>
